/* styles.css */
body {
  background-image: url('https://wallpapers.com/images/hd/high-resolution-black-and-gold-background-kuz23zb7bnposzre.jpg');
  background-size: cover;      /* Scales the image to cover the whole screen */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;  /* Centers the background image */
}

.App {
   text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: rgb(135, 135, 135);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer styles */
footer {
  background-color:#000000; /* Footer background color */
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:15px;
}
